.main {
  flex: 1;
  width: 100%;
  padding-block: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main h1 {
  color: var(--ifm-color-primary);
}
